# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - master
  
pool:
  vmImage: 'ubuntu-latest'
  
steps:
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    version: '6.0.x'
- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
  env: { MSBUILDSINGLELOADCONTEXT: 1 }
- task: DotNetCoreCLI@2
  inputs:
    command: 'test'
  env: { MSBUILDSINGLELOADCONTEXT: 1 }
- task: DotNetCoreCLI@2
  inputs:
    command: 'pack'
    packagesToPack: 'Calinga.NET/Calinga.NET.csproj'
    versioningScheme: 'off'
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'